.body {
  display: flex;
  justify-content: space-evenly;
  overflow-x: hidden;
}

.tooltip {
  background: #26313c;
  color: #d2d1d6;
  padding: 16px;
  box-shadow: 15px 30px 40px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.label {
  color: #d2d1d6;
}

@media only screen and (max-width: 768px) {
  .body {
    flex-direction: column;
    align-items: center;
  }
  .chart,
  .table {
    width: 100%;
  }
}
