.tooltip {
  font-size: 12px;
  background: var(--primary-bg-color);
  color: var(--primary-color);
  padding: 8px;
  box-shadow: 15px 30px 40px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  border: 1px solid var(--primary-color);
}

.body {
  flex-shrink: 1;
}
