.footer {
  margin: 0 auto;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 6px;
  background-color: var(--primary-bg-color);
  font-size: 12px;
}

.left svg {
  height: 20px;
  width: 20px;
}

.right {
  right: 0;
  display: flex;
  gap: 16px;
}

.right a:hover {
  text-decoration: underline;
}

.table_footer {
  margin: 0 auto;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}
.right_table {
  right: 0;
  display: none;
  gap: 16px;
}

.right_table a {
  font-size: 8px;
}

.right_table a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  .footer {
    width: auto;
  }

  .left {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 6px;
    font-size: 8px;
  }
  .right {
    display: none;
  }

  .right_table {
    display: flex;
  }
}
