.layout {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 16px;
}

@media only screen and (max-width: 768px) {
  .layout {
    width: auto;
    display: flex;
    flex-direction: column;
  }
}
