.body {
  display: flex;
  overflow-x: hidden;
}
.chart {
  width: 65%;
}
.list {
  width: 35%;
}

@media only screen and (max-width: 1024px) {
  .chart {
    width: 100%;
  }
  .body {
    flex-direction: column;
  }
  .list {
    margin-left: 32px;
  }
}
