.body {
  display: flex;
  overflow-x: hidden;
}
.chart {
  width: 70%;
}
.list {
  width: 30%;
}

@media only screen and (max-width: 1024px) {
  .chart {
    width: 100%;
  }
  .body {
    flex-direction: column;
  }
}
