.header {
  color: var(--primary-color);
  background-color: #1f1b34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 5;
  height: 3rem;
  padding: 0 3%;
}

.header h1 {
  display: flex;
  align-items: center;
}
.header img {
  height: 24px;
  margin-right: 24px;
}
.header p,
.header span {
  color: var(--primary-color);
  font-weight: lighter;
  font-size: 16px;
  text-align: right;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .header span {
    display: none;
  }
}
