.header {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 1024px;
}

.title {
  color: var(--primary-color);
  font-family: "Encode Sans";
  font-weight: bold;
  font-size: 16px;
}

.container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header img {
  background-color: var(--primary-bg-color);
  border-radius: 8px;
  height: 24px;
  width: 24px;
}

.season {
  background-color: #4e17e1;
  color: var(--primary-color);
  font-size: 12px;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
}

.update {
  color: var(--secondary-color);
  font-weight: lighter;
  font-size: 12px;
}
.description {
  color: var(--primary-color);
  font-weight: lighter;
  font-size: 12px;
}

.info__container {
  display: flex;
  margin-bottom: 8px;
  gap: 8px;
}
.info {
  border-radius: 8px;
  background-color: var(--secondary-bg-color);
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 6px;
  display: flex;
  flex-direction: column;
}

.info h2 {
  color: var(--secondary-color);
  font-family: "Encode Sans";
  font-weight: bold;
  font-size: 12px;
}

.info span {
  font-family: "Encode Sans";
  font-size: 14px;
  color: var(--primary-color);
  margin-bottom: 8px;
  font-weight: lighter;
}
.counter {
  border-radius: 8px;
  background-color: var(--secondary-bg-color);
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.counter h2 {
  color: var(--secondary-color);
  font-family: "Encode Sans";
  font-weight: bold;
  font-size: 12px;
}
.counter svg {
  height: 24px;
  width: 24px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.counter span {
  margin-right: 8px;
  font-family: "Encode Sans";
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-weight: lighter;
  text-align: center;
  margin-bottom: 20px;
}

.button {
  right: 0;
  position: absolute;
  outline: none;
  font-size: 12px;
  color: var(--primary-color);
  cursor: pointer;
  display: flex;
  gap: 8px;
}

.button__unselect {
  color: var(--secondary-color);
}
.button__select {
  text-decoration: underline;
}

.button svg {
  height: 20px;
  width: 20px;
}

@media only screen and (max-width: 1440px) {
  .header {
    min-width: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .counter span {
    align-items: flex-start;
  }
  .counter svg {
    height: 36px;
    width: 36px;
  }
}
