@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@800&family=Open+Sans&display=swap");
:root {
  --primary-color: #c3c7ee;
  --secondary-color: #606a99;
  --primary-bg-color: hsl(238, 24%, 19%);
  --secondary-bg-color: #111524;
}

body {
  background-color: hsl(237, 24%, 16%);
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 1;
}

a {
  font-size: 12px;
  text-decoration: none;
  color: var(--primary-color);
}

@media only screen and (max-width: 768px) {
  p {
    line-height: 1;
  }
}
