:root {
  --primary-color: #d2d1d6;
  --secondary-color: #d2d1d6;
  --primary-bg-color: #313252;
  --secondary-bg-color: #1f2033;
}

body {
  background-color: #1f2033;
  margin: 0 auto;
  font-family: "Sofia Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-size: 12px;
  text-decoration: none;
  color: var(--primary-color);
}
