.table {
  color: var(--primary-color) !important;
  font-size: 14px !important;
  white-space: nowrap;
}
.table__head {
  background: linear-gradient(to right, #9963b8, #4d16e1);
}

.table__cell {
  color: var(--primary-color) !important;
  font-size: 16px !important;
  font-family: "Nunito", sans-serif !important;
}

.table__row {
  background: var(--primary-bg-color);
}

.table__alt__row {
  background: var(--secondary-bg-color);
}
