.table {
  color: var(--primary-color) !important;
  white-space: nowrap;
}
.table__head {
  background: linear-gradient(to right, #9963b8, #4d16e1) !important;
}

.table__cell {
  font-family: "Open Sans" !important;
  color: var(--primary-color) !important;
  font-size: 12px !important;
}
.table__cell__right {
  color: var(--primary-color) !important;
  font-size: 12px !important;
}

.table__row {
  background: var(--primary-bg-color) !important;
}

.table__alt__row {
  background: var(--secondary-bg-color) !important;
}
