.table {
  color: #d2d1d6 !important;
  font-size: 14px !important;
  white-space: nowrap;
}
.table__head {
  background: linear-gradient(to right, #9963b8, #4d16e1);
}

.table__cell {
  color: #d2d1d6 !important;
  font-size: 16px !important;
  font-family: "Sofia Pro", sans-serif !important;
}

.table__row {
  background: #313252;
}

.table__alt__row {
  background: #1f2033;
}
